<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
    <title>수강신청 로그인</title>
  </head>
  <body>
    <div>
      <div class="_top">
        <a href="#" style="color: white" id="toMain">
          <img src="/images/word_logo_negative.png" />
          <h1>끝말잇기 배틀</h1>
          <!-- <h3>INHA TECHNICAL COLLEGE</h3> -->
        </a>
      </div>
      <div class="_mid">
        <form action="">
          <input type="text" name="_id" placeholder="ID(학번)" class="_idpw" />
          <input type="password" name="_pw" placeholder="PASSWORD" class="_idpw" />
          <button type="submit">LOGIN</button>
          <div id="_autologin">자동 로그인<input type="checkbox" id="_check" /></div>
        </form>
        <div>
          <a href="#" id="_find">계정찾기</a>
        </div>
        <div>
          <a href="#" id="_regi">회원가입</a>
        </div>
      </div>
      <div class="_bot"></div>
    </div>
    <script></script>
    <script src="javascripts/login.js"></script>
  </body>
</html>
