<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/make_room.css" />
    <title>수강신청 로그인</title>
  </head>
  <body>
    <div>
      <div class="_top">
        <div class="container">
          <a href=""><img src="images/word_logo_negative.png" /></a>
          <ul class="tabs">
            <!-- <li class="tab-link" data-tab="tab-1" style="margin: 0; padding: 0; display: inline-block"></li> -->
            <li class="tab-link current" data-tab="tab-1">방 목록</li>
            <li class="tab-link" data-tab="tab-2">방 만들기</li>
            <li class="tab-link" data-tab="tab-3">로그인 / 회원가입</li>
          </ul>
        </div>
      </div>
      <div class="_mid"></div>
      <div class="_bot">
        <div class="_date"></div>
      </div>
    </div>
    <script src="javascripts/make_room.js"></script>
  </body>
</html>
